In [53]:
import pandas as pd
import csv

dfs = pd.read_excel('IMDB Dataset.xlsx', sheet_name='IMDB Dataset')
data_info = ['reviews','sentement']
try:
    for review in dfs['review'].values:
        for sentiment in dfs['sentiment'].values:
            dict = [{
            'reviews':review,
            'sentement':sentiment
        }]
        with open('test4.csv', 'w') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=data_info)
            writer.writeheader()
            writer.writerows(dict)
except:pass
print('done')

done

In [63]:
import pandas as pd
from textblob import TextBlob
from nltk.tokenize.toktok import ToktokTokenizer
import re
tokenizer = ToktokTokenizer()
import spacy
nlp = spacy.load('en_core_web_sm', disable=['ner'])

### Polarity and Subjectivity
Polarity is a float value which helps in identifying whether a sentence is positive or negative. Its values ranges in [-1,1] where 1 means positive statement and -1 means a negative statement.

On the other side, Subjective sentences generally refer to personal opinion, emotion or judgment whereas objective refers to factual information. Subjectivity is also a float which lies in the range of [0,1]. Closer the value to 1, more likly it is public opinion.

In [181]:
TextBlob('Eerybody says this man is poor').sentiment
dfs

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [315]:
positive_label = dfs[dfs['sentiment'] == 'positive'].sample(n=5000)
negative_label = dfs[dfs['sentiment'] == 'negative'].sample(n=5000)

In [316]:
from sklearn.utils import shuffle
train = pd.concat([positive_label,negative_label])
train = shuffle(train)

### the data proccessing staff

In [184]:
train.isnull().sum()

review       0
sentiment    0
dtype: int64

In [317]:
import numpy as np
train.replace(r"^\s*$",np.nan,regex = True,inplace = True)
train.dropna(inplace=True,how= 'any',axis = 0)

In [318]:
to_be_replaced =[r"\\t|\\n|\\r","\t|\n|\r"]
values_to_replace = ["",""]

train.replace(to_replace=to_be_replaced , value= values_to_replace,regex=True,inplace=True)
print('done')

done

In [319]:
train['review'] = train['review'].str.encode('ascii','ignore').str.decode('ascii')
print('work on escape seq removal done')

work on escape seq removal done

In [320]:
import string
def removal_punctuation(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation,'')
    return text

In [321]:
train['review'] = train['review'].apply(removal_punctuation)

In [304]:
from nltk.corpus import stopwords
stopwords_list = set(stopwords.words('english'))
stopwords_list.remove('no')
stopwords_list.remove('not')
stopwords_list

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'nor',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [191]:
def remove_special_characters(text):
    text = re.sub('[^a-zA-z0-9\s]', '', text)
    return text

In [322]:
train['review'] = train['review'].apply(remove_special_characters)

In [262]:
def remove_html(text):
    html = re.compile(r'<.*?>')
    return html.sub(r' ',text)

In [323]:
train['review'] = train['review'].apply(remove_html)

In [264]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S')
    return url.sub(r' ', text)

In [324]:
train['review'] = train['review'].apply(remove_URL)

In [169]:
def remove_numbers(text):
    '''digit removal'''
    
    text = ''.join([i for i in text if not i.isdigit()])
    return text

In [325]:
train['review'] = train['review'].apply(remove_numbers)

In [305]:
def cleans(word):
    rx = re.compile(r'\D*\d')
    if rx.match(word):
        return ''
    return word
def remove_alphanumeric(strings):
    nstrings = [" ".join(filter(None, (
    cleans(word) for word in string.split())))
    for string in strings.split()]
    str1 = ' '.join(nstrings)
    return str1

In [328]:
train['review'] = train['review'].apply(remove_alphanumeric)

In [330]:
def custom_remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopwords_list]
    else:
        
        filtered_tokens = [token for token in tokens if token.lower() not in stopwords_list]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text

In [331]:
train['review'] = train['review'].apply(custom_remove_stopwords)

In [334]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

In [335]:
train['review'] = train['review'].apply(lemmatize_text)

In [337]:
train['no_sentiment'] = train['review'].apply(lambda tweet: TextBlob(tweet).sentiment)

In [340]:
sentiment_series = train['no_sentiment'].tolist()

In [341]:
columns = ['polarity', 'subjectivity']
df = pd.DataFrame(sentiment_series, columns=columns, index=train.index)

In [342]:
df

       polarity  subjectivity
25281 -0.195238      0.537434
17041 -0.096944      0.559167
18569  0.158333      0.448889
41855 -0.027273      0.475758
4845  -0.055540      0.537610
...         ...           ...
13754  0.286111      0.511111
16942  0.002180      0.458712
46690 -0.051610      0.529261
18894  0.149769      0.561831
2431   0.020343      0.532353

[10000 rows x 2 columns]

In [344]:
result = pd.concat([train,df],axis=1)

In [345]:
result.drop(['no_sentiment'],axis=1,inplace=True)

In [346]:
result.loc[result['polarity']>=0.3, 'Sentiment'] = "Positive"
result.loc[result['polarity']<0.3, 'Sentiment'] = "Negative"

In [351]:
result.loc[result['sentiment']=='positive', 'Sentiment_label'] = 1
result.loc[result['sentiment']=='negative', 'Sentiment_label'] = 0

In [353]:
print('done')

done

In [338]:
# train = train.drop(columns=['no_sentiment'])
train

,review,sentiment,no_sentiment
25281,I m see pattern see movie Mystery Science Thea...,negative,"(-0.19523809523809518, 0.5374338624338625)"
17041,reason do not delete movie min already waste m...,negative,"(-0.09694444444444446, 0.5591666666666666)"
18569,Jeff Wincott not Hunk kick butt movie good mar...,positive,"(0.15833333333333333, 0.4488888888888889)"
41855,second time I ve felt compel enough comment im...,negative,"(-0.027272727272727226, 0.47575757575757577)"
4845,time Hellraiser franchise reach forth film pre...,negative,"(-0.05553977272727271, 0.5376104797979798)"
...,...,...,...
13754,may think Imaginary Heroes movie exactly like ...,positive,"(0.28611111111111115, 0.5111111111111111)"
16942,be not art innerurban politicallycorrect propa...,negative,"(0.0021804899645808634, 0.4587121212121213)"
46690,movie start well enough stick mood book fairly...,negative,"(-0.05160984848484847, 0.5292613636363634)"
18894,subtlety film think lot people may miss they r...,positive,"(0.1497685185185185, 0.5618312757201646)"
2431,Demi Woody marry they re poor meet Robert Redf...,negative,"(0.02034313725490196, 0.5323529411764706)"